* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f2f5;
    height: 100vh;
}

/* Центр страницы */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 60px;
}

/* Левая часть */
.left {
    max-width: 500px;
}

.logo {
    color: #1877f2;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
}

.left p {
    font-size: 24px;
    line-height: 1.3;
}

/* Правая часть */
.right {
    text-align: center;
}

.login-box {
    background-color: white;
    width: 360px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-box label {
    display: none;
}

.login-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #1877f2;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #166fe5;
}

.forgot {
    display: block;
    margin: 15px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

hr {
    margin: 20px 0;
}

.create-btn {
    padding: 12px 16px;
    background-color: #42b72a;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #36a420;
}

.create-page {
    margin-top: 20px;
    font-size: 14px;
}

/* Footer */
footer {
    text-align: center;
    font-size: 12px;
    color: gray;
}
.footer {
    background-color: white;
    padding: 30px 15%;
    font-size: 12px;
    color: #737373;
}

.footer a {
    color: #737373;
    text-decoration: none;
    margin-right: 10px;
    line-height: 1.8;
}

.footer a:hover {
    text-decoration: underline;
}

.languages {
    margin-bottom: 10px;
}

.plus {
    border: 1px solid #ccd0d5;
    padding: 0 6px;
    cursor: pointer;
}

.links {
    margin-top: 10px;
}

.meta {
    margin-top: 20px;
}
